<header>
  <img
  src="assets/img/dener.jpg"
  alt="Aguinaldo Neto - Foto de Perfil"
  width="130px"
  height="130px"
  loading="eager"
  />

  <h1>Aguinaldo Neto</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Java | Angular</p>
    <p>Maringá, Paraná, Brasil</p>
    <p>
      Estou na área de desenvolvimento de sofware há 3 anos.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/aguinaldo-neto-46ab53a2/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
        src="assets/icons/whatsapp.svg"
        alt="Ícone para o contato do Whatsapp"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5544991343557&text=Ol%C3%A1%20Aguinaldo,%20preciso%20de%20um%20job!"
            target="_blank">
            <strong>Envie uma mensagem para: </strong>
            <p>Whatsapp: (44) 9 9134-3557</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
        src="assets/icons/email.svg"
        alt="Ícone para contato do e-mail"
        width="22px"
        height="24px"
        />
        <figcaption>
          <a href="mailto:neto_aguinaldo@outlook.com"
            target="_blank">
            <strong>Envie um e-mail para: </strong>
            <p>neto_aguinaldo&#64;outlook.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
